
  
  body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
  }
  
  .calculatrice {
    background-color: #fdfbfb;
    width: 410px;
    display: flex;
    flex-direction: column;
    
    border: solid rgb(94, 93, 93) 1px;
    border-radius: 0px 0px 5px 5px;
    
  }
  
  .ecran {
    width: 410px;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 50px;
    text-align: right;
    padding-right: 20px;
  }
  
  .touches {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
  }
  
  button {
    outline: none;
    font-size: 20px;   
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
    
  }
  button:hover {
    background-color: #eaeaea;
  }
  
  button:active {
    box-shadow: 0 1px #a8a8a8;
    transform: translateY(2px);
  }
  
  button[data-key="8"] {
    background-color: #f0595f;
    font-weight: bold;
    color: white;
  }
  
  button[data-key="13"] {
    grid-row: span 4;
    background-color:  #337cac;;
    font-weight: bold;
    color: white;
    font-size: 35px;
  }
  button[data-key="107"], [data-key="109"], [data-key="106"], [data-key="111"] {
    color: #337cac;
  }